/* Поставим базовые найстройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* для того, чтоб при добавление падинга ширина box не увеличивалась */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none; /* убирает маркеры*/
    text-decoration: none; /* убирает подчеркивания*/
    font-size: 26px;
    color: black;
}

body {
    background-image:url('/img/palm1.png'), url('/img/zakat.jpg'), url('/img/sea_shore.jpg');
    height: 100vh;
    background-size: 5%, 40%, cover; /*картинка полностью покрывает фон */
    background-position: 95% 95%, 5% 15%, right;

    background-repeat:no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed; /* фон не скролится */
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
   
.header {
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    /* width: auto; */
    height: 55px;
    background: rgba(255, 255, 255, 0.75);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0 8%;
    box-shadow: 5px 5px 10px black;
    z-index: 100;
}

.logo-header {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    right: 50%;
    z-index: 101;
}

.header-img-logo {
    position: absolute;
}

.logo {
    position: absolute;
    top: 30px;
    left: 15px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.5);
    transform: 0.5s;
}
.logo:hover {
    transform: scale(1.1);
}

/* .hamburger {
    position: absolute;
    right: 15px;
} */

.nav-menu {
    position: absolute;
    left: 35%;
}

header nav ul li {
    position: relative;
    float: left; /* превращаеет вертикальный список в горизонтальный*/
}


.menu-link {
    display: block;
    padding: 9px 28px;
    height: 100%;
    transition: background 0.3s;
    cursor: pointer;
}
.menu-link:hover {
    background-color: rgba(150, 160, 186, 0.75);
}

.menu-link-a {
    position: absolute;
    left: 0;
    width: auto;
    background: rgba(126, 126, 212, 0.75);
    font-family: system-ui;
    border-radius: 5px;
    display: none; /* скрываем выпадающее меню*/
}

.menu-link-a li {
    width: 100%;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.menu-link-a li:hover {
    background-color: rgba(150, 160, 186, 0.75);
}

nav ul li:hover > ul {
    display: initial; /*устанавливает свойства в начальное значение*/
}

.register-btn {
    position: absolute;
    right: 80px;
    width: auto;
    height: 75%;
    display: block;
    border-radius: 10px;
    background: linear-gradient(45deg, #80a1ae, #37aa31);
}

.register-btn:hover {
    transform: scale(1.07);
}
.compass {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 100%;
    width: 100%;
}
.compass-img {
    height: 33%;
    width: auto;
}
/* .compass:hover {
    transform: scale(1.1);
} */
.main {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    
}

.main-section {
    width: 75%;
}
.main-aside {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 25%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(141, 98, 98, 0.2);
}
